/* Popover [starts] */
.pop-menu .menu {
  overflow-y: auto;
  max-width: 250px;
}
.pop-menu .menu .section-title {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  font-size: 12px;
  color: var(--textColorAlt);
}
.pop-menu .menu .menu-item + .menu-item {
  margin-top: 0;
}
.pop-menu .menu .menu-item.selected > a,
.pop-menu .menu .menu-item > a:hover {
  color: var(--tint);
  background-color: #f7fafc;
  font-weight: 500;
}
.pop-menu .menu .menu-item > a {
  text-align: left;
  padding: 4px 8px;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--textColor);
}
.pop-menu .menu .menu-item > a:focus {
  background-color: #f7fafc;
  box-shadow: none;
}
.pop-menu .menu .menu-item .menu-item-icon {
  color: var(--tint);
  padding-right: 5px;
  margin-right: 8px;
}
/* Popover [ends] */
