.range-slider {
  margin: 0;
  width: 100%;
}
.range-slider .range-label {
  display: flex;
  justify-content: space-between;
  color: var(--tint);
  font-size: 13px;
}
.range-slider .range-label-left {
  display: flex;
  justify-content: flex-start;
  color: var(--tint);
  font-size: 13px;
}
.range-slider .range-label-right {
  display: flex;
  justify-content: space-between;
  color: var(--tint);
  font-size: 13px;
}
.range-slider .range-label-center {
  display: flex;
  justify-content: center;
  color: var(--tint);
  font-size: 13px;
}
.range-slider .error-label-left {
  display: flex;
  justify-content: flex-start;
  color: var(--errorColor);
  font-size: 13px;
}
.range-slider .error-label-right {
  display: flex;
  justify-content: space-between;
  color: var(--errorColor);
  font-size: 13px;
}
.range-slider .error-label-center {
  display: flex;
  justify-content: center;
  color: var(--errorColor);
  font-size: 13px;
}
.range-slider .error-label {
  display: flex;
  justify-content: space-between;
  color: var(--errorColor);
  font-size: 13px;
}
.range-slider .range-slider__range {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}
.range-slider .range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--tint);
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.range-slider .range-slider__range::-webkit-slider-thumb:hover {
  background: #1abc9c;
}
.range-slider .range-slider__range:active::-webkit-slider-thumb {
  background: #1abc9c;
}
.range-slider .range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  -moz-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.range-slider .range-slider__range::-moz-range-thumb:hover {
  background: #1abc9c;
}
.range-slider .range-slider__range:active::-moz-range-thumb {
  background: #1abc9c;
}
.range-slider ::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}
.range-slider input::-moz-focus-inner,
.range-slider input::-moz-focus-outer {
  border: 0;
}
.range-slider .range-slider__disabled {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}
.range-slider .range-slider__disabled::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--disableColor);
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
